<h1><img src="https://emojis.slackmojis.com/emojis/images/1531849430/4246/blob-sunglasses.gif?1531849430" width="30"/> Hey! Nice to see you.</h1>

<p>Welcome to my page! </br> I'm Satish Jhanwer, Associate Architect from <img src="https://cdn-icons-png.flaticon.com/128/206/206606.png" width="13"/> <b>Jodhpur, India</b>. </p>

---

<a href="https://github.com/satishjhanwer" target="_blank"><img alt="Github" src="https://img.shields.io/badge/GitHub-%2312100E.svg?&style=for-the-badge&logo=Github&logoColor=white" /></a> <a href="https://twitter.com/satishjhanwer" target="_blank"><img alt="Twitter" src="https://img.shields.io/badge/twitter-%231DA1F2.svg?&style=for-the-badge&logo=twitter&logoColor=white" /></a> <a href="https://www.linkedin.com/in/satishjhanwer/" target="_blank"><img alt="LinkedIn" src="https://img.shields.io/badge/linkedin-%230077B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white" /></a> 

<h3>Some Tools I use</h3>
<p>
  <img alt="React" src="https://img.shields.io/badge/-React.JS-45b8d8?style=flat-square&logo=react&logoColor=white" />
  <img alt="Webpack" src="https://img.shields.io/badge/-Webpack-8DD6F9?style=flat-square&logo=webpack&logoColor=white" /> 
  <img alt="Docker" src="https://img.shields.io/badge/-Docker-46a2f1?style=flat-square&logo=docker&logoColor=white" />
  <img alt="github actions" src="https://img.shields.io/badge/-Github_Actions-2088FF?style=flat-square&logo=github-actions&logoColor=white" />
  <img alt="TypeScript" src="https://img.shields.io/badge/-TypeScript-007ACC?style=flat-square&logo=typescript&logoColor=white" />
  <img alt="redux" src="https://img.shields.io/badge/-Redux-764ABC?style=flat-square&logo=redux&logoColor=white" />
  <img alt="GraphQL" src="https://img.shields.io/badge/-GraphQL-E10098?style=flat-square&logo=graphql&logoColor=white" />
  <img alt="Sass" src="https://img.shields.io/badge/-Sass-CC6699?style=flat-square&logo=sass&logoColor=white" />
  <img alt="Styled Components" src="https://img.shields.io/badge/-Styled_Components-db7092?style=flat-square&logo=styled-components&logoColor=white" />
  <img alt="git" src="https://img.shields.io/badge/-Git-F05032?style=flat-square&logo=git&logoColor=white" />
  <img alt="angular" src="https://img.shields.io/badge/-Angular-DD0031?style=flat-square&logo=angular&logoColor=white" />
  <img alt="npm" src="https://img.shields.io/badge/-NPM-CB3837?style=flat-square&logo=npm&logoColor=white" />
  <img alt="html5" src="https://img.shields.io/badge/-HTML5-E34F26?style=flat-square&logo=html5&logoColor=white" />
  <img alt="Rollup" src="https://img.shields.io/badge/-Rollup-EC4A3F?style=flat-square&logo=rollup.js&logoColor=white" />
  <img alt="Prettier" src="https://img.shields.io/badge/-Prettier-F7B93E?style=flat-square&logo=prettier&logoColor=white" />
  <img alt="MongoDB" src="https://img.shields.io/badge/-MongoDB-13aa52?style=flat-square&logo=mongodb&logoColor=white" />
  <img alt="Nodejs" src="https://img.shields.io/badge/-Node.JS-43853d?style=flat-square&logo=Node.js&logoColor=white" />
  <img alt="Golang" src="https://img.shields.io/badge/-Golang-00ADD8?style=flat-square&logo=go&logoColor=white" />
  <img alt="Vue.js" src="https://img.shields.io/badge/-Vue.JS-35495E?style=flat-square&logo=vuedotjs&logoColor=4FC08D" />
  <img alt="JavaScript" src="https://img.shields.io/badge/-JavaScript-323330?style=flat-square&logo=javascript&logoColor=F7DF1E" />
</p>

---

<h2 align="center">⚡ Stats ⚡</h2>
<br>
<p align=center>
  <div align=center>
    <a href="https://github.com/denvercoder1/github-readme-streak-stats" title="Go to Source">
      <img align="left" width=390 src="https://github-readme-streak-stats.herokuapp.com/?user=satishjhanwer" alt="Satish Jhanwer" />
    </a>
    <a href="https://github.com/anuraghazra/github-readme-stats" title="Go to Source">
      <img align="right" width=390 src="https://github-readme-stats.vercel.app/api?username=satishjhanwer&show_icons=true&ount_private=true" />
    </a>
  </div>
  <br><br><br><br><br><br><br><br><br>
  <div align=center>
    <a href="https://github.com/anuraghazra/github-readme-stats">
      <img width=325 align="center" src="https://github-readme-stats.vercel.app/api/top-langs/?username=satishjhanwer&layout=compact" />
    </a>
  </div>
  <br>
  <img src="https://github-profile-trophy.vercel.app/?username=satishjhanwer&column=6&margin-w=10" alt="satishjhanwer" width="100%" />
  <br>
  <img src="https://activity-graph.herokuapp.com/graph?username=satishjhanwer&custom_title=Satish's%20activity%20graph&theme=github-light" width="100%"/>
</p>

---

<h2 align="center">👨‍💻 Repositories 👨‍💻</h2>
<br>
<div width="100%" align="center">
  <a align="left" href="https://github.com/satishjhanwer/battle-royal" title="Battle Royal">
    <img align="left" height="115" src="https://github-readme-stats.vercel.app/api/pin/?username=satishjhanwer&repo=battle-royal&border_radius=10">
  </a>
  <a align="right" href="https://github.com/satishjhanwer/read-books" title="Read Books">
    <img align="right" height="115" src="https://github-readme-stats.vercel.app/api/pin/?username=satishjhanwer&repo=read-books&border_radius=10">
  </a>
</div>
<br/><br/><br/><br/><br/><br/>
<div width="100%" align="center">
  <a align="left" href="https://github.com/satishjhanwer/learn-tdd-in-react" title="Learn TDD">
    <img align="left" height="115" src="https://github-readme-stats.vercel.app/api/pin/?username=satishjhanwer&repo=learn-tdd-in-react&border_radius=10">
  </a>
  <a align="right" href="https://github.com/satishjhanwer/my-portfolio" title="My Portfolio">
    <img align="right" height="115" src="https://github-readme-stats.vercel.app/api/pin/?username=satishjhanwer&repo=my-portfolio&border_radius=10">
  </a>
</div>
<br/><br/><br/><br/><br/><br/>
<div width="100%" align="center">
  <a align="left" href="https://github.com/satishjhanwer/satishjhanwer.github.io" title="My Website Books">
    <img align="left" height="115" src="https://github-readme-stats.vercel.app/api/pin/?username=satishjhanwer&repo=satishjhanwer.github.io&border_radius=10">
  </a>
</div>
<br/><br/><br/><br/><br/><br/><br/><br/>
<h4 align="center">
  <a href="https://github.com/satishjhanwer?tab=repositories" title="Show Repositories">🔎 Show More 🔍</a>
</h4>
<br>

---

<br>
<div width="100%" align="center">
  <p align="center">
    This <i>README</i> file is generated <b>every 3 hours</b>!</br>Last refresh: {{refresh_date}}
    <br />
    <a href="https://medium.com/@th.guibert/how-to-create-a-self-updating-readme-md-for-your-github-profile-f8b05744ca91">Create your own here!</a>
  </p>
  <p align="center">
    <img src="https://github.com/satishjhanwer/satishjhanwer/actions/workflows/main.yaml/badge.svg?branch=main"/> 
    <img alt="Stars" src="https://img.shields.io/github/stars/satishjhanwer/satishjhanwer?style=flat&labelColor=343b41"/> 
    <img alt="Forks" src="https://img.shields.io/github/forks/satishjhanwer/satishjhanwer?style=flat&labelColor=343b41"/> 
    <img src="https://visitor-badge.glitch.me/badge?page_id=satishjhanwer.satishjhanwer" alt="Visitors"/>
  </p>
</div>